/1.city/Course.1_0.Introduction/.vs/Course.1_0.Introduction/v15/*.suo
/1.city/Course.1_0.Introduction/.vs/Course.1_0.Introduction/v15/*.db
/1.city/Course.1_0.Introduction/.vs/Course.1_0.Introduction/v15/*.opendb
/1.city/Course.1_0.Introduction/.vs/Course.1_0.Introduction/v15/ipch/AutoPCH/7346804bcea06e69/*.ipch
/1.city/Course.1_0.Introduction/Debug/Course.1.CA595CAA.tlog/*.lastbuildstate
/1.city/Course.1_0.Introduction/Debug/*.exe
/1.city/Course.1_0.Introduction/Debug/*.ilk
/1.city/Course.1_0.Introduction/Debug/*.pdb
/1.city/Course.1_0.Introduction/Task1/Debug/*.pdb
/1.city/Course.1_0.Introduction/Task1/Debug/*.idb
/1.city/Course.1_0.Introduction/Debug/*.log
/1.city/Course.1_0.Introduction/Task1/Debug/*.obj
/1.city/Course.1_0.Introduction/Task1/Debug/*.log
/1.city/Course.1_0.Introduction/Task1/Debug/Task1.tlog/*.tlog
/1.city/Course.1_0.Introduction/Task1/Debug/Task1.tlog/*.lastbuildstate
/1.city/Course.1_0.Introduction/.vs/Course.1_0.Introduction/v15/*.db-shm
/1.city/Course.1_0.Introduction/.vs/Course.1_0.Introduction/v15/*.db-wal
/1.city/Course.1_0.Introduction/.vs/Course.1_0.Introduction/v15/ipch/AutoPCH/4568ec2984d8b2ca/*.ipch
*.obj
*.log
*.tlog
*.idb
*.pdb
